<!-- ad_confirm_delete.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Удаление объявления :: Доска объявлений</title>
  </head>
  <body>
    <h1>даление объявления</h1>
    <div>
      <a href="{% url 'bboard:list' %}">Главная</a>
    </div>
    <div>
      <p>Рубрика: {{ ad.rubric.name }}</p>
      <h2>{{ ad.title }}</h2>
      <p>{{ ad.content }}</p>
      <p>Цена: {{ ad.price }}</p>
      <form method="post">
        {% csrf_token %}
        <input type="submit" value="Удалить">
      </form>
    </div>
  </body>
</html>