{% extends "bboard/basic.html" %}

{% block title %}
    {{ block.super }}
    Траливали
{% endblock %}

{% block content %}
    {% if ads %}
        <h1>0бъявления</h1>
        {{ block.super }}
        {% for ad in ads %}
        <div>
          <h2><a href="{% url 'space:detail' ad.pk %}">{{ ad.title }}</a></h2>
          <p>{{ ad.content|lower|default:'—описания нет—' }}</p>
          <p>{{ ad.published|date:"d.m.Y H:i:s" }}</p>
        </div>
        {% endfor %}
    {% else %}
      <h1>Объявлений нет</h1>
    {% endif %}
{% endblock content %}
